<div class="container">
      <h1><%= @cat.name %></h1>

  <div class="container">
    <div class="row">
      <div class="col-md-1 col-md-offset-3">Birth Date:</div>
      <div class="col-md-8"><%= @cat.birth_date %></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-3">Age:</div>
      <div class="col-md-8"><%= @cat.age %></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-3">Color:</div>
      <div class="col-md-8"><%= @cat.color %></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-3">Sex:</div>
      <div><div class="col-md-8"><%= @cat.sex %></div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-3">Description:</div>
      <div class="col-md-8"><%= @cat.description %></div>
    </div>
  </div>

  <h2>Rental Requests</h2>

    <div class="row">
      <div class="col-md-1 col-md-offset-3">Start Date</div>
      <div class="col-md-8">End Date</div>
    </div>
  
    <% @cat.rental_requests.each do |request| %>
      <div class="row">
        <div><%= request.start_date %></div>
        <div><%= request.end_date %></div>
        <% if request.pending? %>
        <div><%= button_to "Approve",
               approve_cat_rental_request_url(request),
               method: :patch %></div>
        <div><%= button_to "Deny", 
               deny_cat_rental_request_url(request),
               method: :patch %></div>
        <% end %>
      </div>
    <% end %>
 
  <div class="btn btn-default">
    <%= link_to "All the cats!", cats_url %>
  </div>
</div>